<div class="flex flex-col text-center py-12">
  <app-title>Socials</app-title>
  <app-subtitle>Hier gibt es Kekse!</app-subtitle>
  <div class="flex flex-wrap justify-evenly pt-12">
    <app-social-item
      imageSrc="/assets/img/discord-logo.jpg"
      text="Discord"
      href="https://discord.com/invite/smhysFru9d"
    ></app-social-item>
    <app-social-item
      imageSrc="/assets/img/instagram-logo.png"
      text="Instagram"
      href="https://www.instagram.com/aniiiixchan/"
    ></app-social-item>
    <app-social-item
      imageSrc="/assets/img/twitch-logo.jpg"
      text="Twitch"
      href="https://www.twitch.tv/aniiiichan"
    ></app-social-item>
  </div>
</div>
