<div
class="flex flex-wrap items-center justify-center py-12 justify-center flex-col lg:flex-row"
>
<div class="flex flex-1 justify-center">
  <img
    class="h-60 pb-8 lg:h-96 lg:pb-0"
    src="assets/img/ghost.svg"
    alt="Geist"
  />
</div>
<div class="flex-1 flex-col justify-center">
  <app-subtitle class="text-center lg:text-left">Guten Tag.</app-subtitle>
  <app-title class="text-center lg:text-left"
    >Horror, Spiel und Spass</app-title
  >
  <div class="pt-6 text-center lg:text-left">
    <app-paragraph>
      Auf diesem Kanal will ich zusammen mit euch zocken, reden und Spass
      haben.</app-paragraph
    >
  </div>
</div>
</div>
